.profile-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../assets/images/background.jpg') no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .left-container {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .right-container {
    display: flex;
    flex-direction: row;
  }
  
  .top-right-container,
  .bottom-right-container {
    flex: 1;
    background-color: #e0e0e0;
    padding: 20px;
  }
  
  /* Media query for landscape mode */
  @media screen and (min-aspect-ratio: 1/1) {
    .profile-container {
      flex-direction: row;
    }
  
    .left-container {
      flex: 1;
    }
  
    .right-container {
      flex: 2;
      flex-direction: column;
    }
  
    .top-right-container,
    .bottom-right-container {
      flex: 1;
    }
  }



/*.profileSeciton {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../assets/images/background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem; 
    background: white;  
    border-radius: 30px;
}


.divOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 30px;
    color: var(--secondary-color);
    font-family: monospace;
}



.imgDiv {
    width: 60%;
    text-align: center;
}

.imgDiv img {
    width: 70%;
    object-fit: contain;
    margin-bottom: 3rem;
}

.profileSeciton .book {
    width: auto;
    height: inherit;
}
.profileSeciton .tourBookings {
    background: white;  /
}

.profileSeciton .busBookings {
    background: white;  
}*/