
.Admin {
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #cf0909 29.63%,
    #860207 51.55%,
    #520101 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 3rem;
  gap: 30px;
  grid-template-columns: 11rem auto 20rem;
}

